.card { 
    background: #D9D9D9; 
    border: 2px solid white; 
    border-radius: 10px; 
    width: 300px; 
    height: 400px; 
    margin: auto; 
    display: flex; 
    flex-direction: row; 
}

.card img { 
    width: 50%; 
    height: 100%; 
    object-fit: cover; 
}

.card ul { 
    list-style: none; 
    padding: 0; 
    margin: auto; 
}

.card h1 { 
    font-size:24px; 
}

.card h2 { 
    font-size: 18px; 
}

.card h4 { 
    font-size: 14px; 
}